build/
.vs/
.vscode/
.cache/
CMakeFiles/
cmake_install.cmake
*.a
Makefile
CMakeCache.txt
miniz.pc
build-linux/
build-windows/
dist/archlinux/engine/
dist/archlinux/src/
dist/archlinux/pkg/
dist/archlinux/engine*.pkg.tar.zst
